
@{
    ViewBag.Title = "Auto Pool";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="content container clearfix">
    <h1>Base</h1>
    <div class="table AutoPool-table">
        <table>
            <tr>
                <th>Base</th>
                <th>Total users</th>
                <th>Entry Fees</th>
                <th>Users x TRX = Profit</th>
                <th>Current user address</th>
                <th></th>
            </tr>
            <tr>
                <td data-th="AutoPool">1</td>
                <td data-th="Total users"></td>
                <td data-th="Entry Fees">20 TRX</td>
                <td data-th="Users x TRX = Profit">2 * 20 = 40 TRX</td>
                <td data-th="Current user address"></td>
                <td>
                    <a href="/autopooldetails?1">View in details</a>
                </td>
            </tr>
            <tr>
                <td data-th="AutoPool">2</td>
                <td data-th="Total users"></td>
                <td data-th="Entry Fees">40 TRX</td>
                <td data-th="Users x TRX = Profit">2 * 40 = 80 TRX</td>
                <td data-th="Current user address"></td>
                <td>
                    <a href="/autopooldetails?2">View in details</a>
                </td>
            </tr>
            <tr>
                <td data-th="AutoPool">3</td>
                <td data-th="Total users"></td>
                <td data-th="Entry Fees">80 TRX</td>
                <td data-th="Users x TRX = Profit">3 * 80 = 240 TRX</td>
                <td data-th="Current user address"></td>
                <td>
                    <a href="/autopooldetails?3">View in details</a>
                </td>
            </tr>
            <tr>
                <td data-th="AutoPool">4</td>
                <td data-th="Total users"></td>
                <td data-th="Entry Fees">160 TRX</td>
                <td data-th="Users x TRX = Profit">3 * 160 = 480 TRX</td>
                <td data-th="Current user address"></td>
                <td>
                    <a href="/autopooldetails?4">View in details</a>
                </td>
            </tr>
            <tr>
                <td data-th="AutoPool">5</td>
                <td data-th="Total users"></td>
                <td data-th="Entry Fees">320 TRX</td>
                <td data-th="Users x TRX = Profit">3 * 320 = 960 TRX</td>
                <td data-th="Current user address"></td>
                <td>
                    <a href="/autopooldetails?5">View in details</a>
                </td>
            </tr>
            <tr>
                <td data-th="AutoPool">6</td>
                <td data-th="Total users"></td>
                <td data-th="Entry Fees">640 TRX</td>
                <td data-th="Users x TRX = Profit">3 * 640 = 1920 TRX</td>
                <td data-th="Current user address"></td>
                <td>
                    <a href="/autopooldetails?6">View in details</a>
                </td>
            </tr>
            <tr>
                <td data-th="AutoPool">7</td>
                <td data-th="Total users"></td>
                <td data-th="Entry Fees">1280 TRX</td>
                <td data-th="Users x TRX = Profit">3 * 1280 = 3840 TRX</td>
                <td data-th="Current user address"></td>
                <td>
                    <a href="/autopooldetails?7">View in details</a>
                </td>
            </tr>
            <tr>
                <td data-th="AutoPool">8</td>
                <td data-th="Total users"></td>
                <td data-th="Entry Fees">2560 TRX</td>
                <td data-th="Users x TRX = Profit">3 * 2560 = 7680 TRX</td>
                <td data-th="Current user address"></td>
                <td>
                    <a href="/autopooldetails?8">View in details</a>
                </td>
            </tr>
            <tr>
                <td data-th="AutoPool">9</td>
                <td data-th="Total users"></td>
                <td data-th="Entry Fees">5120 TRX</td>
                <td data-th="Users x TRX = Profit">3 * 5120 = 15360 TRX</td>
                <td data-th="Current user address"></td>
                <td>
                    <a href="/autopooldetails?9">View in details</a>
                </td>
            </tr>
            <tr>
                <td data-th="AutoPool">10</td>
                <td data-th="Total users"></td>
                <td data-th="Entry Fees">10240 TRX</td>
                <td data-th="Users x TRX = Profit">3 * 10240 = 30720 TRX</td>
                <td data-th="Current user address"></td>
                <td>
                    <a href="/autopooldetails?10">View in details</a>
                </td>
            </tr>
            <tr>
                <td data-th="AutoPool">11</td>
                <td data-th="Total users"></td>
                <td data-th="Entry Fees">20480 TRX</td>
                <td data-th="Users x TRX = Profit">3 * 20480 = 61440 TRX</td>
                <td data-th="Current user address"></td>
                <td>
                    <a href="/autopooldetails?11">View in details</a>
                </td>
            </tr>
            <tr>
                <td data-th="AutoPool">12</td>
                <td data-th="Total users"></td>
                <td data-th="Entry Fees">40960 TRX</td>
                <td data-th="Users x TRX = Profit">3 * 40960 = 122880 TRX</td>
                <td data-th="Current user address"></td>
                <td>
                    <a href="/autopooldetails?12">View in details</a>
                </td>
            </tr>
        </table>
    </div>
</div>
