
@{
    ViewBag.Title = "Auto Pool";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}


<div class="content container clearfix">
    <h1>Base</h1>
    <div class="table AutoPool-table even">
        <div class="AutoPool-table-nav">
            <span>Base</span>
            <a href="/autopool">Back</a>
        </div>
        <table>
            <tr>
                <th>Base No</th>
                <th>TRX address</th>
                <th>Base sequence No.</th>
                <th>Payment reseived</th>
                <th>User ID</th>
            </tr>
        </table>
    </div>
</div>